@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700,800&display=swap');


:root {
--red: hsl(0, 100%, 68%);
--veryDarkBlue: hsl(230, 29%, 20%);
--darkGrayishBlue: hsl(230, 11%, 40%);
--grayishBlue: hsl(231, 7%, 65%);
--lightGrayishBlue: hsl(207, 33%, 95%)
}

body { 
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
    overflow-x: hidden;

}

body::after {

    background-color: var(--lightGrayishBlue);
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 56vh;
    width: 60vw;
    z-index: -1;
    border-bottom-left-radius: 30%;

}
.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbar__nav__list {
    display: none;
   
}

.img-block {

    width: 190%;
    
}

.info-container {

    padding: 10%;
    margin-top: 45px;

}

.info-container__subtitle {

    text-transform: uppercase;
    color: hsl(231, 7%, 65%);
    letter-spacing: 0.1rem;
    font-size: 1rem;
    /* margin-top: 20px; */
}

.tag {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25%;
    font-weight: 700;
    margin-right: 10px;
}

.info-container__title {
    text-transform: uppercase;
    color: var(--veryDarkBlue);
    font-weight: 800;
    font-family: 'Barlow Condensed', sans-serif;

}

.info-container__text {
    color: var(--darkGrayishBlue)
}

.btn-action {

    color: white;
    background-color: var(--red);
    height: 50px ;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 160px; 
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    margin-right: 10px;
}

.description {
    color: hsl(231, 7%, 65%);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    word-spacing: 2px;
}

@media screen and (min-width: 480px) {
    .container { 

        width: 90%;
        margin: 0 auto;
        
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        

    }

    body::after {
    
        background-color: var(--lightGrayishBlue);
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        height: 52vh;
        width: 50vw;
        z-index: -1;
        border-bottom-left-radius: 30%;
    
    }

    .navbar__nav__menu {
        display: none;
    }

    .navbar__nav__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__nav__item a {
        text-decoration: none;
        color: black;
        position: relative;
   
    }

    .navbar__nav__item {
        font-weight: 600;
        font-family: 'Barlow Condensed', sans-serif;
        
    }

    .navbar__nav {
        width: 40%;
    
    }
    
    .navbar__nav__item:last-of-type a {

        color: grey;
        margin-left: 55px;
       
    }
    
    .navbar__nav__item:last-of-type a::before {
       
        content: "\00B7";
        position: absolute;
        left: -52px;
        font-size: 50px; 
        bottom: -15px;


    }



    .info-container {

        padding: 0;
        margin-top:     
    }

    .img-b {

        width: 50%;
        
    }

    .navbar__logo {

        margin-left: 

    }

    .info-container {

        margin-top: 150px;
        width: 50%;
    }

    .info-container__text {
        margin-bottom: 30px;
    }

    .info-container__title {
        font-size: 4rem;
    }

    .decription {
        font-size: 1.5rem;
        font-family: 'Barlow Condensed', sans-serif; 
        letter-spacing: 3px;

    }

    .info-container__text {
        width: 80%;
    }



}